
 <!-- <div class="bingwidget" data-type="covid19" data-market="en-in" data-language="en-in"></div>
  
<script src="//www.bing.com/widget/bootstrap.answer.js" async=""></script> -->



<script src="app.js"></script>
<script>
  $('#mydatatable').DataTable({
    paging: false
  });
</script>
</body>
</html>
</body>
</html>
