<%- include("partials/header"); -%>

<form action="/vaccination" method="post">

    <h1>Vaccination</h1>

    <div class="container-fluid">
        <div class="buttonContainer">
            <a href="#" class="pinButton">Search By Pin code</a>
            <a href="#" class="districtButton">Search By District</a>
        </div>

        <div class="pinCode">
            <h1>Pin Code</h1>
        </div>
        <div class="district">
            <h1>District</h1>
        </div>
        
    </div>

</form>









<%- include("partials/footer"); -%>