<%- include("partials/header"); -%>

<form action="/vaccination" method="post">

    <h1>Vaccination</h1>

    <div class="container-fluid">
        <div class="buttonContainer">
            <div type="button" onclick="pinclick()" class="pinButtoncss toggleButton" id="pinButton">
                Search By Pin code
            </div>
            <div type="button" onclick="distclick()" class="districtButtoncss" id="districtButton">
                Search By District
            </div>
        </div>

        <div id="pincode" >
            <h1 >Pin Code</h1>
        </div>
        <div id="district" style="display: none">
            <h1>District</h1>
        </div>
        
    </div>

</form>


<script>
    function pinclick(){
  document.getElementById("pincode").style.display = "";
  document.getElementById("district").style.display = "none";
  document.getElementById("pinButton").classList.add("toggleButton");
  document.getElementById("districtButton").classList.remove("toggleButton");
  console.log("clicked");
}
function distclick(){
  document.getElementById("pincode").style.display = "none";
  document.getElementById("district").style.display = "";
  document.getElementById("pinButton").classList.remove("toggleButton");
  document.getElementById("districtButton").classList.add("toggleButton");
}

</script>
<%- include("partials/footer"); -%>