*{
    margin: 0;
}

/* Navigation bar */

.navbar{
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* Covid Cases Display */

.container-fluid{
    margin-top: 90px;
}
.casesinfo{
    text-align: center;
    margin: 15px;  
    border-radius: 1rem;  
}
.caseheading{
    padding: 1rem;
}
.count{
    padding: 2rem;
}



.about{
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}
  




#totalcases{
    background-color: #C2CAD0;
}
#recovered{
    background-color: #AFD275;
}
#deaths{
    background-color:#E7717D;
}
#vaccinated{
    background-color: #C2B9B0;
}

/* table styling */

/* Medicine Page */

.addLead{
    margin-left: 20%;
    margin-bottom: 10px;
}


/* Vaccnation Page Styling */


.buttonContainer {
    background-color: yellow;
    border-radius: 25px;
    width: 25rem;
    height: 3rem;
    
    
}
.pinButtoncss {
    border: none;
    background-color: transparent;
    float: left;
    height: 100%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 31px;
    border-radius: 25px;
}

.districtButtoncss {
    border: none;
    background-color: transparent;
    float: right;
    height: 100%;
    padding: 10px;
    padding-left: 41px;
    padding-right: 37px;
    border-radius: 25px;
}
.toggleButton {
    background-color: blueviolet;
}
button:focus {outline:0;}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
